.mode-edition{
 text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: -13%;
  margin-right: -12%;
  margin-top: -15px;
  background-color: black;
  color:  white;
  display: none;
}

.mode-edition svg {
  width: 20px;
  height: 16px;
  margin-bottom: -3px;
}

.mode-edition button {
  margin-top: 10px;
  background-color: transparent;
  color: white;
  border: none;
}

.flex-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align button {
  background-color: transparent;
  color: black;
  border: none;
  margin-bottom: 2%;
  display: none;
}

.align-p {
  margin-left: 30px;
  margin-bottom: 2%;
}

.align-p svg {
  height: 18px;
  margin-bottom: -1%;
}

.overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vw;
  background-color: rgba(0, 0 , 0, 0.5);
  display: none;
}

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 40%;
  height: 65%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  display: none;
}

.modal-two {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 40%;
  height: 65%;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
  display: none;
}

.divSup {
  width: 100%;
}

.modal-title {
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Work Sans' ;
}

.modalForm {
  display: flex;
  row-gap:25px;
  column-gap:10px; 
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}


.divModal {
  position: relative;
  display: inline-flex;
}

.divModal img{
  flex-basis: 17%;
  width: 65px;
  object-fit: cover;
}

.divModal .fa-trash-can {
  position: absolute;
  right:5px;
  top: 5px;
  color: white;
  background-color: black;
  padding:3px;
  font-size: 10px;
  cursor: pointer;
  border: none;
}




.modal--open {
  display: block;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.modal-close button {
  background-color: transparent;
  color: black;
  border: none;
}

.modal-close svg {
  width: 20px;
  height: 20px;
}

.modal-close:hover {
  transform: rotate(360deg)
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Espacement entre la ligne séparatrice et le bouton */
  text-align: center; /* Centrer le bouton */
}



.modal-footer-button {
  position: absolute;
  bottom: 25px;
  font-size: 14px;
  font-family: 'Work Sans';
  padding: 10px 55px;
  border: none;
  background-color: #1D6154;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}

input[type="submit"].modal-footer-button-two {
  position: absolute;
  bottom: 25px;
  right: 35%;
  font-size: 14px;
  font-family: 'Work Sans';
  font-weight: 500;
  padding: 10px 35px;
  border: none;
  background-color: grey;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}


.formPhoto{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(227, 246, 252);
  height: 150px
}

.fa-image{
  color: grey;
transform: scale(4.5);
margin-bottom: 33px;
margin-top: 15px;
}

.buttonAddPhoto{
  border: none;
  color: rgb(0, 115, 255);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 25px;
  background-color: rgb(199, 199, 199);
}

.js-photo{
  display: none;
}


.formTitle label{
  font-weight: bold;
}

.formTitle{
display: flex;
flex-direction: column;
margin-top: 30px;

}

.js-title{
border: none;
box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
padding: 10px;

}

.formCategories label {
  font-weight: bold;
  
}

.formCategories{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  
}

.js-category{
  border: none;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  padding: 10px;
}

.js-submit hr{
  margin-top: 100px;
}